In [10]:
import pandas as pd
from pandas import DataFrame
import numpy as np

In [2]:
df_a = pd.read_csv("input2.csv")

In [3]:
df_a

                 time_str  longitude   latitude
0    2015-03-29T17:10:21Z -83.113150  42.533842
1    2015-03-29T17:10:23Z -83.113196  42.533973
2    2015-03-29T17:10:25Z -83.113281  42.534103
3    2015-03-29T17:10:27Z -83.113439  42.534197
4    2015-03-29T17:10:29Z -83.113594  42.534184
5    2015-03-29T17:10:31Z -83.113817  42.534169
6    2015-03-29T17:10:33Z -83.114073  42.534162
7    2015-03-29T17:10:35Z -83.114362  42.534158
8    2015-03-29T17:10:37Z -83.114672  42.534153
9    2015-03-29T17:10:39Z -83.114969  42.534131
10   2015-03-29T17:10:41Z -83.115266  42.534108
11   2015-03-29T17:10:43Z -83.115525  42.534078
12   2015-03-29T17:10:45Z -83.115825  42.534061
13   2015-03-29T17:10:47Z -83.116174  42.534023
14   2015-03-29T17:10:49Z -83.116405  42.534098
15   2015-03-29T17:10:51Z -83.116679  42.534037
16   2015-03-29T17:10:53Z -83.117179  42.534014
17   2015-03-29T17:10:55Z -83.117445  42.534049
18   2015-03-29T17:10:57Z -83.117647  42.534045
19   2015-03-29T17:10:59Z -83.117819  42.534012
20   2015-03-29T17:11:01Z -83.118013  42.534022
21   2015-03-29T17:11:03Z -83.118106  42.534071
22   2015-03-29T17:11:05Z -83.118072  42.534067
23   2015-03-29T17:11:07Z -83.118065  42.534120
24   2015-03-29T17:11:09Z -83.118050  42.534084
25   2015-03-29T17:11:11Z -83.118043  42.534078
26   2015-03-29T17:11:13Z -83.117989  42.534064
27   2015-03-29T17:11:15Z -83.118015  42.534052
28   2015-03-29T17:11:17Z -83.118014  42.534030
29   2015-03-29T17:11:19Z -83.118011  42.534018
..                    ...        ...        ...
260  2015-03-29T17:18:55Z -83.187782  42.474732
261  2015-03-29T17:18:57Z -83.188512  42.474933
262  2015-03-29T17:18:59Z -83.189226  42.475175
263  2015-03-29T17:19:01Z -83.189922  42.475466
264  2015-03-29T17:19:02Z -83.190258  42.475608
265  2015-03-29T17:19:04Z -83.190962  42.475913
266  2015-03-29T17:19:06Z -83.191655  42.476208
267  2015-03-29T17:19:11Z -83.193102  42.476933
268  2015-03-29T17:19:13Z -83.194126  42.477103
269  2015-03-29T17:19:15Z -83.194924  42.477244
270  2015-03-29T17:19:17Z -83.195715  42.477394
271  2015-03-29T17:19:25Z -83.198904  42.477091
272  2015-03-29T17:19:28Z -83.200060  42.477019
273  2015-03-29T17:19:30Z -83.200815  42.477046
274  2015-03-29T17:19:32Z -83.201588  42.477105
275  2015-03-29T17:19:34Z -83.202322  42.477254
276  2015-03-29T17:19:36Z -83.203125  42.477445
277  2015-03-29T17:19:38Z -83.203840  42.477729
278  2015-03-29T17:19:40Z -83.204519  42.478042
279  2015-03-29T17:19:42Z -83.205105  42.478434
280  2015-03-29T17:19:44Z -83.205651  42.478847
281  2015-03-29T17:19:47Z -83.206384  42.479531
282  2015-03-29T17:19:51Z -83.207133  42.480604
283  2015-03-29T17:19:52Z -83.207896  42.481212
284  2015-03-29T17:19:54Z -83.207392  42.481424
285  2015-03-29T17:19:55Z -83.207423  42.481706
286  2015-03-29T17:19:57Z -83.207484  42.482392
287  2015-03-29T17:19:59Z -83.207605  42.483012
288  2015-03-29T17:20:01Z -83.207721  42.483594
289  2015-03-29T17:20:03Z -83.207914  42.484188

[290 rows x 3 columns]

In [4]:
df_a['latitude']

0      42.533842
1      42.533973
2      42.534103
3      42.534197
4      42.534184
5      42.534169
6      42.534162
7      42.534158
8      42.534153
9      42.534131
10     42.534108
11     42.534078
12     42.534061
13     42.534023
14     42.534098
15     42.534037
16     42.534014
17     42.534049
18     42.534045
19     42.534012
20     42.534022
21     42.534071
22     42.534067
23     42.534120
24     42.534084
25     42.534078
26     42.534064
27     42.534052
28     42.534030
29     42.534018
         ...
260    42.474732
261    42.474933
262    42.475175
263    42.475466
264    42.475608
265    42.475913
266    42.476208
267    42.476933
268    42.477103
269    42.477244
270    42.477394
271    42.477091
272    42.477019
273    42.477046
274    42.477105
275    42.477254
276    42.477445
277    42.477729
278    42.478042
279    42.478434
280    42.478847
281    42.479531
282    42.480604
283    42.481212
284    42.481424
285    42.481706
286    42.482392
287    42.483012
288    42.483594
289    42.484188
Name: latitude, Length: 290, dtype: float64

In [6]:
max(df_a['latitude'])

42.534197

In [11]:
np.average(df_a['latitude'])

42.49698606896552